@charset "utf-8";

@import 'parts/color'; // 色一覧 etc/config/color.conf より出力

/* サイト全体の外観 */
body, tr, td, th, form {
  font-family:"メイリオ", "Yu Gothic", "VL Gothic", "Ubuntu", "monospace";
  font-size:9pt;
  color: #222;
}

body {
  background: $white url('/images/background.png');
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  &:link { color:$link-blue; }
  &:visited { color:$link-blue; }
  &:hover { color:$yellow; }
  &:active { color:$truegreen; }
}

/* レイアウト用ボックス */
%base {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.centering {
  @extend %base;
  float: left;

  > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing:border-box;
    text-align:center;
  }
}

/* Nカラムでhtml書くときの枠 */
#wrapper {
  @extend %base;
  $pad: 11px;

  * { box-sizing:border-box }

  %content {
    > * {
      margin-bottom: $pad;
      &:last-child { margin-bottom: 0; }
    }
  }

  .grid-around {
    @extend %content;
    padding: $pad;
  }

  .grid {
    @extend %content;
    padding:0 0 $pad $pad;
    float: left;
  }

  .grid-right {
    @extend %content;
    padding:0 $pad $pad $pad;
    float: left;
  }

  .footer {
    @extend .centering;
    border-top: solid 1px $silver;
    padding: 0;
    span { color: $darkred; }
  }

  #title {
    position: relative;
    width: 100%;
    padding: $pad 0 $pad 0;
    h1 {
      $border: 3px;
      $border-left: 20px;
      $padding: 5px;
      margin: 0px;
      padding: $padding $padding $padding $border-left + 10px;
      background-color: $white;
      border-left: $border-left solid $darkred;
      border-bottom: $border solid $darkred;
      border-top: $border solid $darkred;
      &:before {
        content: '';
        left: $border-left - 1px;
        top: $pad + $border;
        position: absolute;
        border-top: $border-left solid transparent;
        border-bottom: $border-left solid transparent;
        border-left: $border-left solid $darkred;
      }
    }
  }

  #explain {
    width: 100%;
    > div {
      width: 100%;
      background-color: $lightorange;
      border: solid $brown 5px;
      border-radius: 4px;
      padding: 5px;
      font-size: 11pt;
    }
  }

  #error {
    $error-red: #E74C3C;
    width: 100%;
    > div {
      width: 100%;
      background-color: rgba(#E74C3C, 0.3);
      border: solid $error-red 5px;
      border-radius: 4px;
      padding: 10px;
      font-size: 11pt;
      color: $error-red;
      font-weight: bold;
    }
  }

  #map {
    $border:3px;
    > #top {
      background-color: $darkred;
      color: $lightdarkred;
      text-align: center;
      padding: 6px;
      @each $direction in -top, -right, -left { // 繰り返し
        border#{$direction}:$border $white solid;
      }
    }
    th { padding:0; }
    table {
      width: 100%;
      background-color: $lightgreen;
      border: $border $white solid;
    }
  }

}

/* タイルテーブル */
.tile-table {
  background-color: $white;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box;
  th {
    background-color: $darkred;
    color: $lightorange;
    padding: 3px;
  }
  td {
    text-align: left;
    vertical-align: middle;
    border: 1px #ff9966 solid;
    background-color: $lightorange;
    padding: 3px;
  }
}

/* スクロール用ボックス */
.scroll {
  overflow:scroll;
  -webkit-overflow-scrolling:touch;
}

/* 見出し用 */
h1 { font-size:17pt; }
h2 {
  font-size: 12pt;
  margin: 2px;
}

/* 見出し1 */
#headline span {
  padding:0 12px 0 12px;
  border-right:8px $darkred solid;
  border-left:8px $darkred solid;
}

/* アイコン用 */
.icon {
  width:64px;
  height:64px;
  margin:0;
}


/* 文字色 */
@mixin charcter-color($color) {
  color:$color;
  font-weight:bold;
}
.black { @include charcter-color($black); }
.blue { @include charcter-color($blue); }
.lightblue { @include charcter-color($lightblue); }
.darkblue { @include charcter-color($darkblue); }
.red { @include charcter-color($red); }
.green { @include charcter-color($green); }
.white { @include charcter-color($white); }


/* 背景 */
@mixin background-color($color) { background-color: $color }
.black-background { @include background-color($black) }
.white-background { @include background-color($white) }
.lightdarkred-background { @include background-color($lightdarkred) }


/* 横の大きさ */
$width-list: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $pc in $width-list {
  .width-#{$pc}pc{
    $a: %;
    width: #{$pc}#{$a};
  }
}


/* フォーム */

$border-form:#888888; // フォームの外枠の色

/* ページ番号一覧 */
.pagination {
  display: inline-block;
  margin-top: 7px;
  height: 22px;
  li {
    display: inline;
    a {
      position: relative;
      left: -22px;
      padding: 6px 9px;
      color: $darkred;
      background-color: $white;
      border: 1px $darkred solid;

      &.current {
        color: $white;
        background-color: $darkred;
      }

      &:hover {
        color: $white;
        background-color: $darkred;
      }

    }
  }
}

%form-base {
  display: inline-block;
  min-width: 80px;
  background-color: #EEEEEE;
  border: 1px $border-form solid;
  margin: 4px;
  border-radius:4px;
}

form { display:inline-block; }
select {
  @extend %form-base;
  padding: 7px 7px;
  option {
    padding: 0px;
    background-color: #EEEEEE;
  }
}
input[type="submit"], input[type="button"] {
  @extend %form-base;
  padding: 7px 20px;
  vertical-align: middle;
  color: #111111;
  &:hover{ background-color: #DDDDDD }
  &:active{ background-color: #BBBBBB }
}
textarea, input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
  display: inline-block;
  background-color:#F4F4F4;
  border: 1px $border-form solid;
  margin: 4px;
  padding: 7px 7px;
  border-radius:3px;
  border-bottom-right-radius:10px;
  width: 95%;
  &:hover{
    background-color:$white;
    border: 1px $blue solid;
  }
  &:focus{
    background-color:$white;
    border: 1px $blue solid;
  }
  &[disabled]{
    background-color:$ash;
    border: 1px $border-form solid;
  }
}

/* エラーメッセージ用 */
label {
  display: inline-block;
  margin-bottom: 0.25em;
  line-height: 2.0em;
  font-weight: bold;
  &.error {
    display: none;
  }
  &.field-with-error {
    display: inline;
    color: $red;
    font-weight: bold;
  }
}

input.field-with-error {
  border: 1px $red solid;
}

/* おしゃれなラジオボタン&チェックボックス用 */
.snazzy-radio, .snazzy-checkbox {
  position: relative;
  margin: 4px;
  cursor: pointer;
  input {
    opacity: 0;
    position: absolute;
  }
  span:before, span:after {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    transition: all 0.25s;
  }
}

.snazzy-radio {
  padding-left: 25px;
  span {
    padding-right: 5px;
    &:before {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 2px;
      left: 0;
      background: #fff;
      border: 1px solid #c3c5c4;
    }
    &:after {
      border-radius: 50%;
      background: $black;
      top: 12px;
      left: 10px;
      width: 0;
      height: 0;
    }
  }
  input:checked + span:after {
    width: 10px;
    height: 10px;
    top: 7px;
    left: 5px;
  }
  input:checked + span:before {
    background: $white;
  }
  input:focus + span:before {
    border: 2px solid $link-blue;
  }
  input:hover + span:before {
    border: 2px solid $greenblue;
  }
}

.snazzy-checkbox {
  padding-left: 28px;
  span {
    &:before {
      width: 20px;
      height: 20px;
      top: 2px;
      left: 0;
      background: #fff;
      border: 1px solid #c3c5c4;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0.75em;
      left: 0.55em;
      width: 0px;
      height: 0px;
      border-left: 0px solid $black;
      border-bottom: 0px solid $black;
      transform: rotate(-45deg);
    }
  }
  input:checked + span:after {
    width: 12px;
    height: 8px;
    top: 7px;
    left: 4px;
    border-left: 3px solid $black;
  	border-bottom: 3px solid $black;
  }
  input:checked + span:before {
    background: #fff;
    border: 2px solid $link-blue;
  }
  input:hover + span:before {
    border: 2px solid $greenblue;
  }
}

.snazzy-nopadding {
  padding-left: 20px;
  span {
    padding-right: 1px;
  }
}


/* アイコンリストテーブル */
#icon-table {
  width: 764px;
  td {
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    &:hover { background-color: rgba(255, 255, 255, 0.1); }
  }
  img { margin-bottom: 3px; }
}

/* ツールチップ */
#tooltip {
  position:relative;
  span {
    display:block;
    position:absolute;
    color:$white;
    text-decoration:none;
    visibility:hidden;
    width:170px;
    z-index:0;
    top:20px;
    left:10px;
    padding:5px;
    background:rgba(000,000,000,0.7);
    border:solid 1px #a9987c;
    border-radius:5px;
  }
  &:hover,&:hover span{
    visibility:visible;
    z-index:2;
  }
}


/* 部品群 */

/* ナビゲートボタン */
@import 'parts/nav-button';
/* プレイヤーメニュー */
@import 'parts/player-menu';
