// サイト汎用色一覧
$ash: #cccccc;
$beige: #d0c088;
$black: #000000;
$blue: #0000ff;
$border-darkred: #EEAAAA;
$border-gray: #dddddd;
$border-orange: #ff9966;
$brown: #cc6633;
$darkbeige: #c0c088;
$darkblue: #00008b;
$darkred: #990000;
$gray: #eeeeee;
$green: #008000;
$greenblue: #00aaaa;
$lightblack: #222222;
$lightblue: #87ceeb;
$lightdarkred: #ecdbbf;
$lightgreen: #719604;
$lightorange: #ffcc99;
$link-blue: #4682b4;
$orange: #ff6600;
$purple: #600090;
$red: #ff0000;
$silver: #6d614a;
$truegreen: #00ff00;
$white: #f9f9f9;
$yellow: #ffff00;
