// ナビゲートボタンのscss

$nav_button_bg:rgba(30,30,30,0.7);
$nav_button_zukei:#ffffff;

// ベース関数
@mixin base($size){
  position: absolute;
  width: $size;
  height: $size;
}
// ベース関数擬似要素の中
@mixin base2($size){
  content: '';
  @include base($size);
}
// border4方向指定
@mixin border_4($size,$color){
  border-top:solid $size $color;
  border-right:solid $size transparent;
  border-bottom:solid $size transparent;
  border-left:solid $size transparent;
}

/* ZUKEI */
#zukei {
  position:fixed;
  right:0px;
  bottom:0px;
  * { box-sizing: content-box; }
}
#botan {
  position:relative;
  float: left;
  background-color:$nav_button_bg;
  width: 60px;
  height: 60px;
  margin: 0 20px 10px 0;
  border-radius: 8px;
  border: none;
}

/* letter */
#letter{
	width:39px;
	height:30px;
	background-color:$nav_button_zukei;
  position: absolute;
  left:18%;
  bottom:25%;
  &:before{
    @include base2(0px);
    @include border_4(20px,$nav_button_bg);
    left:0px;
    bottom:-10px;
  }
  &:after{
    @include base2(0px);
    @include border_4(18px,$nav_button_zukei);
    left:2px;
    bottom:-7px;
  }
}

/* Reload */
#reload {
	position: absolute;
  width: 27px;
  height: 13.5px;
  top: 50%;
  left: 20%;
  border-style: solid;
  border-width: 0px 6px 6px 6px;
  border-color: $nav_button_zukei;
  border-radius: 0 0 75px 75px;
  &:after {
    @include base2(13.5px);
    border-style: solid;
    border-width: 6px 0 0 6px;
    border-color: $nav_button_zukei;
    border-radius: 75px 0 0 0;
    bottom: 13.5px;
    left: -6px;
  }
  &:before {
    @include base2(0px);
    border-style: solid;
    border-width: 9px;
    border-color: transparent transparent transparent $nav_button_zukei;
    bottom: 21px;
    left: 13.5px;
  }
}

// arrow
@mixin arrow($top,$top2){
  @include base(0px);
	top: $top;
	left: 25%;
	border: 16px solid transparent;
  &:after{
  	@include base2(16px);
  	top: $top2;
  	left: -8px;
  	background: $nav_button_zukei;
  }
}
/* up_arrow */
#up_arrow{
  @include arrow(-5%,16px);
	border-bottom-color: $nav_button_zukei;
}
/* down_arrow */
#down_arrow{
  @include arrow(50%,-32px);
	border-top-color: $nav_button_zukei;
}

/* command_mark */
#com_in{
  @include base(0px);
  top:12%;
  left:40%;
  border-top: 36px solid $nav_button_zukei;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-radius:6px;
  &:after{
    @include base2(8px);
    left:-4px;
    top:1px;
    background-color:$nav_button_zukei;
    border-radius:4px
  }
}
