// メニュー

#player-menu {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: -moz-linear-gradient(top,$lightdarkred,$darkred);
  background: -webkit-gradient(linear,left top,left bottom,from($lightdarkred),to($darkred));
  border: solid 1px $ash;
  line-height: initial;

  div {
    width:30px;
    height:30px;
    float:left;
  }

  a {
    display: inline-block;
    width: 130px;
    height: 20px;
    color: $black;
  } 

  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
    width: 100px;
    height: 20px;
    top:7px;
    font-weight: bold;
    font-size:11pt;
    text-align: center;
    vertical-align: middle;
    list-style:none;
    background: $lightdarkred;
    border: solid 1px $darkred;

    ul {
      display: none;
      position: absolute;
      z-index: 1;
      top: 30px;
      left: -1px;
      padding: 5px;
      width: 140px;
      background: $darkred;
      border: solid 1px $darkred;

      li {
        margin: 0;
        padding: 5px;
        top:0px;
        width: 130px;
        text-align:left;
        border: none;     
        &:before {
          content: initial;
          margin: initial;
        }
        &:hover {
          background-color: $gray;
          color: $white;
        }
      }
    }

  }
}
