@charset "UTF-8";
/* 各国色テーブル */
.table-aqua {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-aqua th {
    background-color: rgba(102, 204, 204, 0.75);
    color: #ccffff;
    padding: 3px; }
  .table-aqua th.first, .table-aqua div.color {
    background-color: #66cccc;
    color: #ccffff;
    padding: 3px; }
    .table-aqua th.first a, .table-aqua div.color a {
      color: #ccffff; }
  .table-aqua td, .table-aqua td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ccffff;
    padding: 3px;
    border: 1px rgba(102, 204, 204, 0.4) solid; }
  .table-aqua td.color {
    color: #66cccc;
    font-weight: bold; }
  .table-aqua td.middle {
    text-align: center;
    font-weight: bold; }
  .table-aqua td.right {
    text-align: right; }

.table-beige {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-beige th {
    background-color: rgba(172, 138, 58, 0.75);
    color: #fffff8;
    padding: 3px; }
  .table-beige th.first, .table-beige div.color {
    background-color: #ac8a3a;
    color: #fffff8;
    padding: 3px; }
    .table-beige th.first a, .table-beige div.color a {
      color: #fffff8; }
  .table-beige td, .table-beige td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #fffff8;
    padding: 3px;
    border: 1px rgba(172, 138, 58, 0.4) solid; }
  .table-beige td.color {
    color: #ac8a3a;
    font-weight: bold; }
  .table-beige td.middle {
    text-align: center;
    font-weight: bold; }
  .table-beige td.right {
    text-align: right; }

.table-black {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-black th {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 3px; }
  .table-black th.first, .table-black div.color {
    background-color: black;
    color: #ffffff;
    padding: 3px; }
    .table-black th.first a, .table-black div.color a {
      color: #ffffff; }
  .table-black td, .table-black td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 3px;
    border: 1px rgba(0, 0, 0, 0.4) solid; }
  .table-black td.color {
    color: black;
    font-weight: bold; }
  .table-black td.middle {
    text-align: center;
    font-weight: bold; }
  .table-black td.right {
    text-align: right; }

.table-blue {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-blue th {
    background-color: rgba(0, 0, 255, 0.75);
    color: #99ccff;
    padding: 3px; }
  .table-blue th.first, .table-blue div.color {
    background-color: blue;
    color: #99ccff;
    padding: 3px; }
    .table-blue th.first a, .table-blue div.color a {
      color: #99ccff; }
  .table-blue td, .table-blue td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #99ccff;
    padding: 3px;
    border: 1px rgba(0, 0, 255, 0.4) solid; }
  .table-blue td.color {
    color: blue;
    font-weight: bold; }
  .table-blue td.middle {
    text-align: center;
    font-weight: bold; }
  .table-blue td.right {
    text-align: right; }

.table-darkaqua {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-darkaqua th {
    background-color: rgba(15, 96, 128, 0.75);
    color: #efffff;
    padding: 3px; }
  .table-darkaqua th.first, .table-darkaqua div.color {
    background-color: #0f6080;
    color: #efffff;
    padding: 3px; }
    .table-darkaqua th.first a, .table-darkaqua div.color a {
      color: #efffff; }
  .table-darkaqua td, .table-darkaqua td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #efffff;
    padding: 3px;
    border: 1px rgba(15, 96, 128, 0.4) solid; }
  .table-darkaqua td.color {
    color: #0f6080;
    font-weight: bold; }
  .table-darkaqua td.middle {
    text-align: center;
    font-weight: bold; }
  .table-darkaqua td.right {
    text-align: right; }

.table-darkblue {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-darkblue th {
    background-color: rgba(0, 0, 128, 0.75);
    color: #cfefff;
    padding: 3px; }
  .table-darkblue th.first, .table-darkblue div.color {
    background-color: navy;
    color: #cfefff;
    padding: 3px; }
    .table-darkblue th.first a, .table-darkblue div.color a {
      color: #cfefff; }
  .table-darkblue td, .table-darkblue td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #cfefff;
    padding: 3px;
    border: 1px rgba(0, 0, 128, 0.4) solid; }
  .table-darkblue td.color {
    color: navy;
    font-weight: bold; }
  .table-darkblue td.middle {
    text-align: center;
    font-weight: bold; }
  .table-darkblue td.right {
    text-align: right; }

.table-darkgreen {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-darkgreen th {
    background-color: rgba(0, 96, 0, 0.75);
    color: #c8ffc8;
    padding: 3px; }
  .table-darkgreen th.first, .table-darkgreen div.color {
    background-color: #006000;
    color: #c8ffc8;
    padding: 3px; }
    .table-darkgreen th.first a, .table-darkgreen div.color a {
      color: #c8ffc8; }
  .table-darkgreen td, .table-darkgreen td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #c8ffc8;
    padding: 3px;
    border: 1px rgba(0, 96, 0, 0.4) solid; }
  .table-darkgreen td.color {
    color: #006000;
    font-weight: bold; }
  .table-darkgreen td.middle {
    text-align: center;
    font-weight: bold; }
  .table-darkgreen td.right {
    text-align: right; }

.table-darkred {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-darkred th {
    background-color: rgba(128, 0, 0, 0.75);
    color: #ffcfcf;
    padding: 3px; }
  .table-darkred th.first, .table-darkred div.color {
    background-color: maroon;
    color: #ffcfcf;
    padding: 3px; }
    .table-darkred th.first a, .table-darkred div.color a {
      color: #ffcfcf; }
  .table-darkred td, .table-darkred td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ffcfcf;
    padding: 3px;
    border: 1px rgba(128, 0, 0, 0.4) solid; }
  .table-darkred td.color {
    color: maroon;
    font-weight: bold; }
  .table-darkred td.middle {
    text-align: center;
    font-weight: bold; }
  .table-darkred td.right {
    text-align: right; }

.table-gray {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-gray th {
    background-color: rgba(102, 102, 102, 0.75);
    color: #f1f1f1;
    padding: 3px; }
  .table-gray th.first, .table-gray div.color {
    background-color: #666666;
    color: #f1f1f1;
    padding: 3px; }
    .table-gray th.first a, .table-gray div.color a {
      color: #f1f1f1; }
  .table-gray td, .table-gray td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #f1f1f1;
    padding: 3px;
    border: 1px rgba(102, 102, 102, 0.4) solid; }
  .table-gray td.color {
    color: #666666;
    font-weight: bold; }
  .table-gray td.middle {
    text-align: center;
    font-weight: bold; }
  .table-gray td.right {
    text-align: right; }

.table-green {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-green th {
    background-color: rgba(0, 128, 0, 0.75);
    color: #66ee66;
    padding: 3px; }
  .table-green th.first, .table-green div.color {
    background-color: green;
    color: #66ee66;
    padding: 3px; }
    .table-green th.first a, .table-green div.color a {
      color: #66ee66; }
  .table-green td, .table-green td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #66ee66;
    padding: 3px;
    border: 1px rgba(0, 128, 0, 0.4) solid; }
  .table-green td.color {
    color: green;
    font-weight: bold; }
  .table-green td.middle {
    text-align: center;
    font-weight: bold; }
  .table-green td.right {
    text-align: right; }

.table-karekusa {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-karekusa th {
    background-color: rgba(64, 64, 0, 0.75);
    color: #cccca8;
    padding: 3px; }
  .table-karekusa th.first, .table-karekusa div.color {
    background-color: #404000;
    color: #cccca8;
    padding: 3px; }
    .table-karekusa th.first a, .table-karekusa div.color a {
      color: #cccca8; }
  .table-karekusa td, .table-karekusa td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #cccca8;
    padding: 3px;
    border: 1px rgba(64, 64, 0, 0.4) solid; }
  .table-karekusa td.color {
    color: #404000;
    font-weight: bold; }
  .table-karekusa td.middle {
    text-align: center;
    font-weight: bold; }
  .table-karekusa td.right {
    text-align: right; }

.table-lightgreen {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-lightgreen th {
    background-color: rgba(0, 221, 0, 0.75);
    color: #ddffdd;
    padding: 3px; }
  .table-lightgreen th.first, .table-lightgreen div.color {
    background-color: #00dd00;
    color: #ddffdd;
    padding: 3px; }
    .table-lightgreen th.first a, .table-lightgreen div.color a {
      color: #ddffdd; }
  .table-lightgreen td, .table-lightgreen td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ddffdd;
    padding: 3px;
    border: 1px rgba(0, 221, 0, 0.4) solid; }
  .table-lightgreen td.color {
    color: #00dd00;
    font-weight: bold; }
  .table-lightgreen td.middle {
    text-align: center;
    font-weight: bold; }
  .table-lightgreen td.right {
    text-align: right; }

.table-orange {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-orange th {
    background-color: rgba(255, 102, 51, 0.75);
    color: #ffcc99;
    padding: 3px; }
  .table-orange th.first, .table-orange div.color {
    background-color: #ff6633;
    color: #ffcc99;
    padding: 3px; }
    .table-orange th.first a, .table-orange div.color a {
      color: #ffcc99; }
  .table-orange td, .table-orange td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ffcc99;
    padding: 3px;
    border: 1px rgba(255, 102, 51, 0.4) solid; }
  .table-orange td.color {
    color: #ff6633;
    font-weight: bold; }
  .table-orange td.middle {
    text-align: center;
    font-weight: bold; }
  .table-orange td.right {
    text-align: right; }

.table-pink {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-pink th {
    background-color: rgba(255, 105, 180, 0.75);
    color: #ffd0db;
    padding: 3px; }
  .table-pink th.first, .table-pink div.color {
    background-color: hotpink;
    color: #ffd0db;
    padding: 3px; }
    .table-pink th.first a, .table-pink div.color a {
      color: #ffd0db; }
  .table-pink td, .table-pink td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ffd0db;
    padding: 3px;
    border: 1px rgba(255, 105, 180, 0.4) solid; }
  .table-pink td.color {
    color: hotpink;
    font-weight: bold; }
  .table-pink td.middle {
    text-align: center;
    font-weight: bold; }
  .table-pink td.right {
    text-align: right; }

.table-purple {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-purple th {
    background-color: rgba(64, 0, 64, 0.75);
    color: #fff0ff;
    padding: 3px; }
  .table-purple th.first, .table-purple div.color {
    background-color: #400040;
    color: #fff0ff;
    padding: 3px; }
    .table-purple th.first a, .table-purple div.color a {
      color: #fff0ff; }
  .table-purple td, .table-purple td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #fff0ff;
    padding: 3px;
    border: 1px rgba(64, 0, 64, 0.4) solid; }
  .table-purple td.color {
    color: #400040;
    font-weight: bold; }
  .table-purple td.middle {
    text-align: center;
    font-weight: bold; }
  .table-purple td.right {
    text-align: right; }

.table-red {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-red th {
    background-color: rgba(255, 0, 0, 0.75);
    color: #ffccbb;
    padding: 3px; }
  .table-red th.first, .table-red div.color {
    background-color: red;
    color: #ffccbb;
    padding: 3px; }
    .table-red th.first a, .table-red div.color a {
      color: #ffccbb; }
  .table-red td, .table-red td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #ffccbb;
    padding: 3px;
    border: 1px rgba(255, 0, 0, 0.4) solid; }
  .table-red td.color {
    color: red;
    font-weight: bold; }
  .table-red td.middle {
    text-align: center;
    font-weight: bold; }
  .table-red td.right {
    text-align: right; }

.table-skyblue {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-skyblue th {
    background-color: rgba(102, 102, 204, 0.75);
    color: #a5aadd;
    padding: 3px; }
  .table-skyblue th.first, .table-skyblue div.color {
    background-color: #6666cc;
    color: #a5aadd;
    padding: 3px; }
    .table-skyblue th.first a, .table-skyblue div.color a {
      color: #a5aadd; }
  .table-skyblue td, .table-skyblue td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #a5aadd;
    padding: 3px;
    border: 1px rgba(102, 102, 204, 0.4) solid; }
  .table-skyblue td.color {
    color: #6666cc;
    font-weight: bold; }
  .table-skyblue td.middle {
    text-align: center;
    font-weight: bold; }
  .table-skyblue td.right {
    text-align: right; }

.table-yellow {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 3px;
  box-sizing: border-box; }
  .table-yellow th {
    background-color: rgba(255, 215, 0, 0.75);
    color: #fffdcf;
    padding: 3px; }
  .table-yellow th.first, .table-yellow div.color {
    background-color: gold;
    color: #fffdcf;
    padding: 3px; }
    .table-yellow th.first a, .table-yellow div.color a {
      color: #fffdcf; }
  .table-yellow td, .table-yellow td.color {
    text-align: left;
    vertical-align: middle;
    background-color: #fffdcf;
    padding: 3px;
    border: 1px rgba(255, 215, 0, 0.4) solid; }
  .table-yellow td.color {
    color: gold;
    font-weight: bold; }
  .table-yellow td.middle {
    text-align: center;
    font-weight: bold; }
  .table-yellow td.right {
    text-align: right; }
